<h1>Upcoming Pick-Up Games <i class="fas fa-running"></i></h1>

<% for event in @events %>
    <p><a href="/events/<%= event[:id] %>"><%= event[:sport] %> | <%= event[:date] %>, <%= event[:start_time] %>  | @<%= event[:location] %></a></p>
<% end %>